<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A brand and product designer working with clients globally">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600;700&display=swap" rel="stylesheet">
    <title>OH.STUDIO</title>
</head>
<body>
    <header>
        @@include('./primary-navigation.html')
    </header>
    <main>
        <section class="intro fade-up">
            <h1 class="primary-heading | fs-primary-heading fw-medium">
                <i>A brand and product designer working with clients globally</i>
            </h1>
            <ul role="list" aria-label="visual communication" class="visual-communication-list">
                <li>Expertise</li>
                <li>Branding</li>
                <li>Product</li>
                <li>Design Systems</li>
            </ul>
        </section>
        <section class="clients">
            <div class="client fade-up">
                <div class="client-image">
                    <img src="../images/studio01.webp" alt="aire">
                </div>
                <div class="client-details">
                    <h2 class="client-title"> Aire</h2>
                    <div class="client-icon">
                        <a href="another-page-url"><i class="fa-solid fa-circle-arrow-up"></i></a>
                    </div>
                </div>
            </div>
            <div class="client-name">Aire</div>
            <div class="client fade-up">
                <div class="client-image">
                    <img src="../images/studio02.webp" alt="correlated">
                </div>
                <div class="client-details">
                    <h2 class="client-title">Correlated</h2>
                    <div class="client-icon">
                        <a href="another-page-url"><i class="fa-solid fa-circle-arrow-up"></i></a>
                    </div>
                </div>
            </div>
            <div class="client-name">Correlated</div>
            <div class="client fade-up">
                <div class="client-image">
                    <img src="../images/studio03.webp" alt="channel 5">
                </div>
                <div class="client-details">
                    <h2 class="client-title">Channel 5</h2>
                    <div class="client-icon">
                        <a href="another-page-url"><i class="fa-solid fa-circle-arrow-up"></i></a>
                    </div>
                </div>
            </div>
            <div class="client-name">Channel 5</div>
            <div class="client fade-up">
                <div class="client-image">
                    <img src="../images/studio05.webp" alt="ronald abram">
                </div>
                <div class="client-details">
                    <h2 class="client-title">Ronald Abram</h2>
                    <div class="client-icon">
                        <a href="another-page-url"><i class="fa-solid fa-circle-arrow-up"></i></a>
                    </div>
                </div>
            </div>
            <div class="client-name">Ronald Abram</div>

        </section>
        <section class="cta fade-up | fw-medium">
            <div class="container">
                <p>Let's work together.</p>
                <a class=" mail-to | text-accent-500" href="mailto:oli@oh.studio" target="_blank">Get in touch.</a>
            </div>
        </section>
        <div class="button-container">
            <button class="button">___Shop</button>
        </div>
    </main>
   @@include('./footer.html')
</body>
<script src="../js/observers.js"></script>
<script src="../js/activePage.js"></script>
</html>
